h3 {
    margin: 20px 0;
}

.wanted {
    padding: 25px;
}

.wanted-container {
    position: relative;
    width: 100%;
    max-width: 300px;

    height: 345px;
    margin: auto;
}

.wanted-container img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    transition: all ease-in-out .30s;
}

.wanted-container h3 {
    position: absolute;
    margin: 0;
    top: 51%;
    left: 18%;
    color: #FFF;
    z-index: 51;
    font-size: 54px;
    font-weight: 500;
    transition: all ease-in-out .30s;
}

.banner {
    position: absolute;
    top: 16px;
    left: 28px;
    padding: 8px;
    background-color: #fff;
    opacity: 0.8;
    width: 80%;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    transition: all ease-in-out .30s;
}

.banner p {
    margin: auto;
    padding: 0;
    font-size: 1.5em;
}

.reward {
    color: #FF6600;
}

.wanted-container:hover img {
    opacity: 1;
    z-index: 50;
}

.wanted-container:hover h3 {
    font-size: 30px;
    top: 85%;
    left: 32%;
}

.carousel-item,
.carousel-control-prev,
.carousel-control-next {
    height: 50vh;
}

.carousel-caption {
    bottom: 40%;
}

.btn-fellow {
    margin-right: 5px;
    margin-bottom: 5px;
}

span {
    font-size:
}